/* set wallpaper here not in theme dark  */
.bg-1QIAus {
  background-image: url("./img/firewatch1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px);
  z-index: -1;
}

/* default colors, make em transparent */
.theme-dark {
  --background-primary: rgba(40, 43, 48, 0.15) !important;
  --background-secondary: rgba(40, 43, 48, 0.15) !important;
  --background-secondary-alt: rgba(40, 43, 48, 0.15) !important;
  --background-tertiary: rgba(40, 43, 48, 0.15) !important;
  --chat-background: rgba(40, 43, 48, 0.15) !important;
  --bg-overlay-2: rgba(40, 43, 48, 0.15) !important;
  --home-background: rgba(40, 43, 48, 0.15) !important;
  --bg-overlay-chat: rgba(40, 43, 48, 0.15) !important;

  --profile-body-background-color: rgba(40, 43, 48, 0.75) !important;

  --interactive-muted: rgba(148, 155, 164, 0.3) !important;
  --input-background: rgba(40, 43, 48, 0.3) !important;

  --deprecated-text-input-bg: rgba(40, 43, 48, 0.3) !important;
  --deprecated-text-input-border: gba(40, 43, 48, 0.5) !important;

  /* chat bar */
  --channeltextarea-background: rgba(40, 43, 48, 0.3) !important;
}

/* profile */
.userProfileInnerThemedNonPremium-1gT-zY {
  background: rgba(40, 43, 48, 0.75) !important;
}


/* top left discord icon fade */
.childWrapper-1j_1ub {
  /* background-color: rgba(40, 43, 48, 0.5) !important; */

  animation: fade 20s ease-in-out infinite;
}

@keyframes fade {
  0.00% {
    background-color: rgba(255, 0, 0, 0.40);
  }

  16.67% {
    background-color: rgba(255, 165, 0, 0.40);
  }

  33.33% {
    background-color: rgb(255, 255, 0, 0.40);
  }

  50.00% {
    background-color: rgb(0, 128, 0, 0.40);
  }

  66.67% {
    background-color: rgb(0, 0, 255, 0.40);
  }

  83.33% {
    background-color: rgb(75, 0, 130, 0.40);
  }

  100.00% {
    background-color: rgb(238, 130, 238, 0.40);
  }
}

/* highlight active channel */
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ {
  background-color: rgb(0, 153, 255, 0.20) !important;
}

/* reply bow thing */
/* .repliedMessage-3Z6XBG .cozy-VmLDNB.repliedMessage-3Z6XBG::before {
  --avatar-size: 40px;
  --gutter: 16px;
}

.repliedMessage-3Z6XBG .repliedMessage-3Z6XBG::before {
  background-color: rgba(40, 43, 48, 1) !important;
  color: rgba(40, 43, 48, 1) !important;
  --spine-width: 2px;
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  right: 100%;
  bottom: 0;
  left: calc(var(--avatar-size)/2*-1 + var(--gutter)*-1);
  margin-right: var(--reply-spacing);
  margin-top: calc(var(--spine-width)*-1/2);
  margin-left: calc(var(--spine-width)*-1/2);
  margin-bottom: calc(0.125rem - 4px);
  border-left: var(--spine-width) solid var(--interactive-muted);
  border-bottom: 0 solid var(--interactive-muted);
  border-right: 0 solid var(--interactive-muted);
  border-top: var(--spine-width) solid var(--interactive-muted);
  border-top-left-radius: 6px;
} */

/* highlight active vc */
.modeConnected-NrO4cP .content-1gYQeQ {
  background-color: rgba(0, 255, 64, 0.15) !important;
}

/* muted channel name color */
.iconVisibility-vptxma.wrapper-NhbLHG.modeMuted-2T4MDZ .content-1gYQeQ .mainContent-20q_Hp .name-28HaxV.channelName-3KPsGw.overflow-1wOqNV {
  /* color: rgba(40, 43, 48, 0.8) !important; */
  color: rgba(243, 244, 245, 0.15) !important;
}

/* muted channel # color */
.iconVisibility-vptxma.wrapper-NhbLHG.modeMuted-2T4MDZ .content-1gYQeQ .mainContent-20q_Hp .iconContainer-21RCa3 .icon-2W8DHg {
  /* color: rgba(40, 43, 48, 0.8) !important; */
  color: rgba(243, 244, 245, 0.15) !important;
}

/* friend activity vc stuff */
.body-16rSsp.inset-SbsSFp {
  background-color: unset !important;
}

.addFriendInputWrapper-kkoSV9 {}