/* set wallpaper here not in theme dark  */
.bg-1QIAus {
  background-image: url("./img/firewatch1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px);
  z-index: -1;
}

/* default colors, make em transparent */
.theme-dark {
  --background-primary: rgba(40, 43, 48, 0.15) !important;
  --background-secondary: rgba(40, 43, 48, 0.15) !important;
  --background-secondary-alt: rgba(40, 43, 48, 0.15) !important;
  --background-tertiary: rgba(40, 43, 48, 0.15) !important;
  --chat-background: rgba(40, 43, 48, 0.15) !important;

  --interactive-muted: var(--primary-dark-400);

  /* chat bar */
  --channeltextarea-background: rgba(40, 43, 48, 0.3) !important;
}

/* top left discord icon fade */
.childWrapper-1j_1ub {
  /* background-color: rgba(40, 43, 48, 0.5) !important; */

  animation: fade 20s ease-in-out infinite;
}

@keyframes fade {
  0.00% {
    background-color: rgba(255, 0, 0, 0.40);
  }

  16.67% {
    background-color: rgba(255, 165, 0, 0.4);
  }

  33.33% {
    background-color: rgb(255, 255, 0, 0.40);
  }

  50.00% {
    background-color: rgb(0, 128, 0, 0.40);
  }

  66.67% {
    background-color: rgb(0, 0, 255, 0.40);
  }

  83.33% {
    background-color: rgb(75, 0, 130, 0.40);
  }

  100.00% {
    background-color: rgb(238, 130, 238, 0.40);
  }
}

/* highlight active channel */
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ {
  background-color: rgb(0, 153, 255, 0.20) !important;
}

/* highlight active vc */
.modeConnected-NrO4cP .content-1gYQeQ {
  background-color: rgba(0, 255, 64, 0.15) !important;
}